# ignore the elpa directory. No need to clone these (they'd be version controled anyway)
elpa/

# ensure package control
elpa-download.txt

# ignore the server directory. Unsafe infor changing all the time anyway
server/

# ignore the auto saves directory
auto-save-list/

# ignore the eshell folder
eshell/

# ignore ido-last
ido.last

# auto-complete history
ac-comphist.dat

# ignore tramp file
tramp

# semantic database
semanticdb/

# virtualenv folder
.python-environments/

# abbrevs
abbrev_defs