[submodule "apps/web-mode"]
	path = apps/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "apps/mmm-mode"]
	path = apps/mmm-mode
	url = https://github.com/purcell/mmm-mode.git
[submodule "themes/molokai"]
	path = themes/molokai
	url = https://github.com/hbin/molokai-theme.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "apps/evil"]
	path = apps/evil
	url = git://gitorious.org/evil/evil.git
[submodule "apps/undo-tree"]
	path = apps/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "apps/ssh-config-mode"]
	path = apps/ssh-config-mode
	url = https://github.com/jhgorrell/ssh-config-mode-el.git
[submodule "apps/yasnippet"]
	path = apps/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "apps/iedit"]
	path = apps/iedit
	url = https://github.com/victorhge/iedit.git
[submodule "apps/flymake-easy"]
	path = apps/flymake-easy
	url = https://github.com/purcell/flymake-easy.git
[submodule "apps/auto-complete-c-headers"]
	path = apps/auto-complete-c-headers
	url = https://github.com/mooz/auto-complete-c-headers.git
[submodule "apps/flymake-google-cpplint"]
	path = apps/flymake-google-cpplint
	url = https://github.com/senda-akiha/flymake-google-cpplint.git
