[submodule "apps/web-mode"]
	path = apps/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "apps/mmm-mode"]
	path = apps/mmm-mode
	url = git@github.com:purcell/mmm-mode.git
[submodule "themes/color-theme-github"]
	path = themes/color-theme-github
	url = git@github.com:dudleyf/color-theme-github.git
[submodule "themes/molokai-theme"]
	path = themes/molokai-theme
	url = git@github.com:hbin/molokai-theme.git
